= @article.title
= @article.status
br/
= @article.tags.pluck(:name).join(', ')
br/
= markdown(@article.description)
br/
= link_to 'Edit', edit_admin_article_path(@article)
br/
= link_to 'Back', admin_articles_path
br/
= link_to 'Delete', admin_article_path(@article), method: :delete,
                                                  data: {confirm: "Are you sure?"}
